.settings-grid{

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.settings-sidebar {
    display: flex;
    justify-content: flex-end;
}
.myprofile-content {
    margin : 30px;
    display: flex;
    justify-content: flex-start;    
}

.myprofile-profile{ 
    width: 500px;
    height: 800px;
    background-color: var(--background);


}

.myprofile-changepw{ 
    width: 600px;
    height: 800px;
    background-color: var(--background);


}

.myprofile-title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    border: 0;
    border-bottom: var(--border);
    padding-bottom:5px;
}

.myprofile-instance {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.myprofile-instance .left {
    padding: 8px;
    text-align: right;
}

.myprofile-instance .right{
    border : var(--border);
    padding: 8px;
    text-align: left;
}

.myprofile-instance .inputvalue{
    border : var(--border);
    padding: 8px;
    text-align: left;
    background-color: var(--bg);
    color: var(--text-color);
}
.myprofile-instance .btn{
    font-size: 15px;
    width:150px;
    height: 40px;
    text-align: center;
    padding:8px;
}