.grid {

    height : 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;

}

table {
    border-spacing: 0;
    border: var(--border);
    border-right: 0;
    background-color: var(--bg);

  }

  td {
    margin: 0;
    padding: 0.5rem;
    border-right: var(--border);

  }

  th {
    margin: 0;
    padding: 0.5rem;
    border-bottom: var(--border);
    border-right: var(--border);

  }

  th:hover {
    background-color: var(--sidebar-accent);
  }