.grid {

    height : 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;

}

table {
    border-spacing: 0;
    border: 1px solid var(--bg-accent);
    background-color: var(--bg);

  }

  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-accent);
    border-right: 1px solid var(--bg-accent);

  }

  th {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-accent);
    border-right: 1px solid var(--bg-accent);

  }
