.inquiry-grid{

    height : 100vh;
    display: grid;
    grid-template-columns: 260px 1fr;

}

.content {
    color: var(--text-color);
    margin: 30px;
    text-align: center;
}

.global-filter {

}

.table input{
    border : 1px solid var(--bg-accent);
    padding: 8px;
    text-align: left;
    background-color: var(--bg);
    color: var(--text-color);
}

.global-filter .search{

}